{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 padding-right">
                <div class="signup-form"><!--sign up form-->
                    <h2>Простите, но сервис временно недоступен</h2>
                    <h5>Вы можете оформить заказ по телефону либо отправить намо <a href="{{ path('contacts') }}">сообщение</a></h5>
            </div>
        </div>
    </div>
</section>
                    
{% include ('footer.html.twig') %}