{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 padding-right">
                <div class="signup-form"><!--sign up form-->
                    <h2>Заказ успешно оформлен</h2>
                    <h5>Наш менеджер свяжется с вами!</h5>
                    <h5>Есть вопрос? <a href="{{ path('contacts') }}">Напишите</a> нам</h5>
            </div>
        </div>
    </div>
</section>
                    
{% include ('footer.html.twig') %}