                        <p>Вы выбрали такие товары:</p>
                        <table class="table-bordered table-striped table">
                            <tr>
                                <th>№</th>
                                <th>Название</th>
                                <th>Стомость, грн</th>
                                <th>Количество, шт</th>
                                <th>Удалить</th>
                            </tr>
                            {%set i = 1 %}
                            {% for product in products %}
                                <tr>
                                    <td>{{ i }}</td>
                                    <td>
                                        <a href="/product/{{ product.id }}">
                                           {{ product.name }}
                                        </a>
                                    </td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ count[product.id] }}</td> 
                                    <td>
                                        <a href="/cart/delete/{{ product.id }}">
                                            <i class="fa fa-times" data-id="{{ product.id }}"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% set i = i + 1 %}
                            {% endfor %}
                                <tr>
                                    <td colspan="4">Общая стоимость, грн:</td>
                                    <td>{{ summ }}</td>
                                </tr>
                            
                        </table>
                        
                        <a class="btn btn-default checkout" href="{{ path('cart_checkout') }}"><i class="fa fa-shopping-cart"></i> Оформить заказ</a>
                        <a class="btn btn-default checkout" href="/"><i class="fa fa-shopping-cart"></i> Вернуться к покупкам</a>

<script>
    $(document).ready(function(){
        $(".fa.fa-times").click(function () {
            var id = $(this).attr("data-id");
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: "/cart/delete/"+id ,
                success: function (data) {
                    $("#table_content").html(data.html);

                }
            });
            $.ajax({
                type: 'post',
                url: '{{ path('cart_count') }}',
                success: function (data) {
                    if (data !== 0) {
                        $("#cart-count").html(data);
                    }
                    else {
                        $("#cart-count").html("");
                    }    
                }
            });
            return false;
        });
    }); 
    
</script>