{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">История </h2>
                    <div id="table_content">
                        {% if products %}
                        {% include ('cart/products_table.html.twig') with {
                            'products' : products,
                            'summ' : summ,
                            'count' : count
                        }%}
                        {% else %}
                        {% include ('cart/no_products.html.twig') %}    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                    
{% include ('footer.html.twig') %}
