{{ include ('header.html.twig') }}

<section>
    <div class="container">
        <div class="row">
            <h2>Ваше собщение отправленно! Наш менеджер свяжется с Вами</h2>
        </div>
    </div>
</section>
               
{{ include ('footer.html.twig') }}