{{ include ('header.html.twig') }}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <div class="panel-group category-products">
                        <h2><a class="countries_touch" href="#">Другие страны из региона</a></h2>
                            {% for country in countries %}
                                <div class="panel panel-default countries" style="display:none">
                                        <p class="panel-title-countries">
                                            <a href="/{{ type }}/countries/{{ country.id }}">                                                                                    
                                                   {{ country.name }}
                                            </a>
                                        </p>
                                </div>
                            {% endfor %}
                        <h2>Регионы</h2>
                            {% for region in regions %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="/{{ type }}/{{ regions_for_route[region.id] }}">                                                                                    
                                                   {{ region.name }}
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Последние товары</h2>

                    {% for product in products %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="/images/product/{{ product.id }}.jpg" alt="" />
                                        <h2> {{ product.price }}</h2>
                                        <p>
                                            <a href="/product/{{ product.id }}">
                                                {{ product.country.name }} - {{ product.name }}
                                            </a>
                                        </p>
                                        <a href="#" class="btn btn-default add-to-cart" data-id="{{ product.id }}">
                                            <i class="fa fa-shopping-cart"></i>В корзину
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}                              

                </div><!--features_items-->
                
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $(".countries_touch").click(function() {
            $(".panel.panel-default.countries").slideToggle( "fast" );
            return false;
        });
    });
</script> 
                    
{{ include ('footer.html.twig') }}