{# app/Resources/views/footer.html.twig #}﻿
<div class="page-buffer"></div>
</div>

<footer id="footer" class="page-footer"><!--Footer-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2016</p>
                <p class="pull-right"></p>
            </div>
        </div>
    </div>
</footer><!--/Footer-->
<script>
    $(document).ready(function(){
        $(".add-to-cart").click(function () {
            var id = $(this).attr("data-id");
            $.ajax({
                type: 'post',
                url: "/app_dev.php/cart/"+id ,
                success: function (data) {
                    $("#cart-count").html(data);

                }
            });
            return false;
        });
    }); 
    
    $(document).ready(function(){
        $.ajax({
            type: 'post',
            url: '{{ path('cart_count') }}',
            success: function (data) {
                if (data != 0) {
                    $("#cart-count").html(data);

                }
            }
        });
        return false;
    });

</script>
        



</body>
</html>{# empty Twig template #}
