{# app/Resources/views/header.html.twig #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Главная</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/prettyPhoto.css" rel="stylesheet">
        <link href="/css/price-range.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.scrollUp.min.js"></script>
        <script src="/js/price-range.js"></script>
        <script src="/js/main.js"></script>
        
    </head><!--/head-->

    <body>
        <div class="page-wrapper">


            <header id="header"><!--header-->
                <div class="header_top"><!--header_top-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="contactinfo">
                                    <ul class="nav nav-pills">
                                        <li><a href="#"><i class="fa fa-phone"></i> +38 093 000 11 22</a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i> zinchenko.us@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="social-icons pull-right">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/header_top-->

                <div class="header-middle"><!--header-middle-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="logo pull-left">
                                    <a href="/"><img src="/images/home/logo.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="shop-menu pull-right">
                                    <ul class="nav navbar-nav">
                                        <li><a href="{{ path('cart_view') }}">
                                                <i class="fa fa-shopping-cart"></i> Корзина 
                                                <span id="cart-count"></span>
                                            </a>
                                        </li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <li><a href="{{ path('fos_user_profile_show') }}">
                                                <i class="fa fa-user"></i>{{ app.user.username }} |
                                            </a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">
                                                <i class="fa fa-unlock"></i>{{ 'Выход'|trans({}, 'FOSUserBundle') }}
                                            </a></li>
                                        {% else %}
                                            <li><a href="{{ path('fos_user_security_login') }}">
                                                <i class="fa fa-lock"></i>{{ 'Войти'|trans({}, 'FOSUserBundle') }}
                                            </a></li>
                                        {% endif %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/header-middle-->

                <div class="header-bottom"><!--header-bottom-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="mainmenu pull-left">
                                    <ul class="nav navbar-nav collapse navbar-collapse">
                                        <li><a href="/">Главная</a></li>
                                        <li class="dropdown"><a href="#">Монеты<i class="fa fa-angle-down"></i></a>
                                            <ul role="menu" class="sub-menu">
                                                <li><a href="/catalog/">Европа</a></li>
                                                <li><a href="/cart/">Африка</a></li> 
                                                <li><a href="/cart/">Южная Америка</a></li>
                                                <li><a href="/cart/">Северная Америка</a></li>
                                                <li><a href="/cart/">Азия</a></li>
                                                <li><a href="/cart/">Австралия и Океания</a></li>
                                                <li><a href="/cart/">Другое</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Банкноты<i class="fa fa-angle-down"></i></a>
                                            <ul role="menu" class="sub-menu">
                                                <li><a href="/catalog/">Европа</a></li>
                                                <li><a href="/cart/">Африка</a></li> 
                                                <li><a href="/cart/">Южная Америка</a></li>
                                                <li><a href="/cart/">Северная Америка</a></li>
                                                <li><a href="/cart/">Азия</a></li>
                                                <li><a href="/cart/">Австралия и Океания</a></li>
                                                <li><a href="/cart/">Другое</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/about/">Аксессуары</a></li>
                                        <li><a href="/about/">О магазине</a></li>
                                        <li><a href="/contacts/">Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/header-bottom-->

            </header><!--/header-->

               
