{{ include ('header.html.twig') }}

<h1>Твой первый номер - {{ number1 }}</h1>
</br>
<h2><a href='#'>Твой второй номер - {{ number2 }}</a></h2>
</br>
<h3>Их сумма - {{ summ }}</h3>

{{ include ('footer.html.twig') }}